body {
  background: #F0F0F0;
  color: #666;
}

.main {
  width: 500px;
  margin: 0 auto;
  font-size: 14px;
  text-align: center;
}

.main .item {
  display: inline-block;
  width: 200px;
  height: 200px;
  border: 1px solid #AAA;
}
