<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="keywords" content="{{name}}.js">
    <meta name="description" content="{{description}}">
    <title>{{name}}.js</title>
    <link rel="stylesheet" href="./css/normalize.css">
    <link rel="stylesheet" href="./css/style.css">
    <link rel="stylesheet" href="./css/{{name}}/{{name}}.css">
</head>
<body>
    <div class="main">{{name}}</div>
    <script src="./{{name}}/{{name}}.js"></script>
    <script src="./js/main.js"></script>
</body>
</html>